/* Phần bắt buộc phải có */

*{
    box-sizing: border-box;
}
:root{
    --header-bg:#10375C;
}
html{
    font-size: 62.5%;

}

body{
    font-size: 1.6rem;
    font-family: "Sora", sans-serif; /* font chủ yếu của dự án này */
}
/* =========================== common ================================== */
.container{
    width: 1170px;
    max-width: calc(100% - 48px); /* dùng calc() để khi thu nhỏ trang các phần tử 2 bên luôn cách lề 24px */
margin: 0 auto; /* căn giữa khối container */
}
a{
    text-decoration: none; /* bỏ gạch chân */
}
.btn{
    display: inline-block; /* btn đang thẻ inline ,ta sử dụng display: inline-block để can thiệp kích thước */
   min-width: 205px;
line-height: 60px;

border-radius: 30px;
background: #2E80CE;
color: #FFF;
text-align: center;

font-size: 1.8rem;
font-style: normal;
font-weight: 400;

}
.btn:hover{
opacity: 0.8;
}
.section-heading{
    color: #10375C;


font-size: 5rem;

font-weight: 600;
line-height: 1.2; /* 120% */
letter-spacing: -1px;
}
.section-desc{
    margin-top: 18px;
    color: #575F66;


font-size: 1.8rem;

font-weight: 300;
line-height: 1.67; /* 166.667% */
}
/* ========================= header ===================================== */
.header{
    padding-top: 30px;
    background: var(--header-bg);
   
    min-height: 100vh; /* chiều cao tối thiểu = 100% viewport height*/
}
.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__list{
    display: flex;

}
.header__action--login,
.navbar__link{
    padding: 8px 21px; /* tạo khoảng cách giữa các phần tử */
    color: #FFF;
text-align: center;

font-size: 1.6rem;
font-style: normal;
font-weight: 400;
line-height: 1.75; /* 175% */
}
.navbar__link:hover,
.navbar__link--active{
    text-shadow: 1px 0 0 currentColor;
    color: #fff;
}
.navbar__link--active::before{  /* ::before là 1 pseudo-element:dùng để chèn nội dung ảo và trước nội dung 1 phần tử mà không cần chỉnh sửa HTML */
    content: ""; /* bắt buộc phải có nếu không nó sẽ không hiển thị gì */
    display: inline-block;  /* Hiển thị trên cùng một dòng như inline.

                             Chỉnh được kích thước (width, height) như block. */
    width: 6px;
    height: 6px;
border-radius:50% ;
background: #fff;
top: -3px;
position: relative; /* dùng relative cho phần tử chính nếu muốn phần tử ảo căn cứ vào nó sau đó điều chỉnh top,left,right,bottom theo ý muốn*/

right: 8px;
}
.header__action--signup{
    min-width: 144px;
    line-height: 44px;
    font-size: 1.6rem;
}
.header__action--login{
    margin-right: 7px;
}

/* =========================== hero ====================================  */
.hero{
    display: flex;
    align-items: center;
    padding-top: 76px;
}
.hero__content{
    width: 44%;

}
.hero__media{
    flex: 1; /* chiếm hết khoảng không gian còn lại */
}
.hero__heading{
    color: #FFF;

font-size: 7rem;
font-style: normal;
font-weight: 600;
line-height: 1.14; /* 114.286% */
letter-spacing: -1.4px;
}
.hero__desc{
    margin-top: 22px;
    color: #C9D2DA;

font-size: 1.8rem;

font-weight: 300;
line-height: 1.67; /* 166.667% */
}
.hero__row{
    margin-top: 38px;
    display: flex;
    align-items: center;
    column-gap: 38px;

}
.hero__phone{
    color: #FFF;
text-align: center;

font-size: 1.8rem;


line-height: 1.67; /* 166.667% */
}
.hero__images{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.hero__img{
    object-fit: cover; /* giữ ảnh không méo */
    border-radius: 6px;

}
.hero__img-large{
    width: 330px;
height: 540px;
margin-right: -6px;
z-index: 1;
}
.hero__img-small{
    width: 210px;
height: 410px;


}

/* ======================== service ================================= */
.service{

    padding: 170px 0; /* làm phần nền không sát vào chữ */
    background: #fff;
}
.service__heading,.service__desc{
    text-align: center;
}
.service__desc{
    width: 468px;
    margin: 18px auto 0;
}
.service-row{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.service__img{
    width: 570px;
height: 570px;
border-radius: 12px;
object-fit: cover ; /*k bị méo ảnh */
}
.service-item{
    padding: 21px;
    display: flex;
    width: 470px;
    

border-radius: 10px;
background: #FFF;
transition: 0.25s; /* transition trong CSS giúp tạo hiệu ứng chuyển đổi mượt mà giữa các trạng thái của phần tử */
}
.service-item:hover{
   position: relative; /* sử dụng position để lôi nó lên mặt phẳng cao hơn */
box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}
.service-item:hover .service-item__icon{
    color: #fff;
    background: #2e80ce;
}
.service-item__icon{
    width: 60px;
    height: 60px;
    border-radius: 30px;
background: #EFF6FD;
box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
display: flex;
justify-content: center;
align-items: center;
flex-shrink: 0;
margin-right: 19px;
transition: 0.25s; /*transition trong CSS giúp tạo hiệu ứng chuyển đổi mượt mà giữa các trạng thái của phần tử */
}
.service-item__heading{
    color: #10375C;

font-size: 1.8rem;

font-weight: 600;

}
.service-item__desc{
    margin-top: 8px;
    color: #575F66;

font-size: 1.6rem;

font-weight: 300;
line-height: 1.75; /* 175% */
}
.service__btn{
    margin-top: 55px;
}

/* ================================= work ========================================== */
.work{
    
background: #f6fbff;
padding: 100px 0;
}
.work__desc{
    width: 468px;

}
.work__list{
    margin-top: 86px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 30px;
}
.work-item{
    padding: 43px;
    border-radius: 4px;
background: #FFF;
border: 16px  solid #eaf6ff;

}
.work-item:hover{
    border-color: #2E80CE;
    transition: 0.25s;
    transform: translateY(-16px);
}
.work-item__heading{
    margin-top: 18px;
    color: #10375C;

font-size: 2.6rem;

font-weight: 600;
line-height: 1.38; /* 138.462% */
}
.work-item__desc{
    margin-top: 28px;
    color: #575F66;

font-size: 1.6rem;

font-weight: 300;
line-height: 1.75; /* 175% */
}
.work-item__more{
    display: inline-block; /* sử dụng để margin-top có tác dụng vì mặc định thẻ a là 1 thẻ inline nên margin-top,margin-bottom không có tác dụng */
    margin-top: 18px;
    color: #575f66;

font-size: 1.6rem;

font-weight: 400;
line-height: 1.75; /* 175% */
}